{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="home" class="home_container py-5" style="background-image: url({% static 'images/MainPageHead.png' %});">
    <div class="section full-height py-md-4">
        <div class="absolute-center">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="home">
                                <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span> <span>t</span><span>o</span> <span>G</span><span>i</span><span>r</span><span>l</span><span>S</span><span>c</span><span>r</span><span>i</span><span>p</span><span>t</span> <span>A</span><span>l</span><span>w</span><span>a</span><span>r</span> <span>!</span></span><br>
                                <!--        <span>L</span><span>e</span><span>t'</span><span>s</span> <span>c</span><span>o</span><span>d</span><span>e</span> <span>f</span><span>o</span><span>r</span> <span>f</span><span>r</span><span>e</span><span>e</span><span>d</span><span>o</span><span>m</span> -->
                            </h1>
                            <p class="home">Let's code for freedom</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======= About Section ======= -->
<section id="about-us" class="about py5">
    <div class="container py-md-4">
        <div class="row">
            <div class="col-lg-6">
                <img id="about-image" src="{% static 'images/receptionist_isometric.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content bg-about">
                <h3 class="about">About Us</h3>
                <p class="about mt-2 text-justify">
                    GirlScript Jaipur is a not-for-profit tech community under GirlScript India for Students, Software Developers, IT Professionals, and Entrepreneurs. The organizing team consists of energized individuals from several colleges in Jaipur. We believe in being the force that transforms how Students learn in India. We encourage our members to become the 'students they would want to teach'.
                </p>
                <br>
                <p class="about mt-2 text-justify">
                    GirlScript focuses on beginners and learners. At GirlScript, we try to entertain members from all domains irrespective of their experience, gender, and age through conducting free-of-cost workshops and technical programs. Our aim is to provide everyone with a platform to exchange great ideas and knowledge.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
<!-- ======= Join Us Section ======= -->
<section id="join-us" class="join-us  bg-join py-5">
    <div class="container py-md-4 text-center">
        <div class="last-hit3pvt-inner-content px-lg-5">
            <h3 class="mb-4 tittle-lore">Join Us!</h3>
            <p class="px-lg-5">In GirlScript, our aim is to provide you with the resources to learn anything and everything you wish to. Join us to collaborate in creating an ever-advancing learning environment which is driven by an enthusiasm for a better, and inevitably Technology driven future.</p>
            <div class="buttons mt-md-4 mt-3">
                <button type ="button" class="btn btn-primary ">Community</button>
                <button type="button" class="btn btn-primary">Core Team</button>
            </div>
        </div>
        <img id="joinus-image" src="{% static 'images/web_development_.png' %}" class="img-fluid" alt="">
    </div>
</section>

<section id="our-team" class="our-team py-5 mt-5">
<div class="container">
<h1 class="text-center mb-5">Our Team</h1>
 <div class="row mb-5 team-gradient">
    <div class="col-12 col-sm-12 col-md-6">
      <div class="card card-purple-blue text-white mb-3 mb-md-0">
        <div class="text-center">
        <img src="https://girlscript.js.org/images/Hitesh-Subnani.jpg" alt="Hitesh Subnani" class="card-img rounded-circle">
        </div>
        <h3 class="text-center mt-2 mb-0">Hitesh Subnani</h3>
        <h6 class="text-center"> Chapter Lead </h6>
        <div class="card-body d-flex justify-content-between align-items-end">

          <div class="card-description ">Hitesh Subnani is a CSE student from Arya College of Engineering and I.T. His interests include Coding, Writing Blogs and Reading. Hitesh loves to work in different creative fields like Photography, Cinematography and Sketching. He's also a world record holder in Photography. He considers himself a beginner in Open Source Community with contributions in several projects on GitHub, which can be found on his profile. Hitesh believes in "Learning with Failure", and encouraging people believe in sharing of knowledge with everyone.</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6">
      <div class="card card-salmon-pink text-white">
        <div class="text-center">
        <img src="https://girlscript.js.org/images/IMG_20181225_175554_Bokeh%20(1).jpg" alt="Mahima Khandelwal" class="card-img rounded-circle">
        </div>
        <h3 class="text-center mt-2 mb-0">Mahima Khandelwal</h3>
        <h6 class="text-center"> Chapter Lead </h6>
        <div class="card-body d-flex justify-content-between align-items-end">
          <div class="card-description">Mahima is a final year undergraduate pursuing CSE from VIT, Jaipur. She likes to explore and learn a variety of things, including getting her hands into Python and Machine Learning. Mahima is also the Core Team Member of PyJaipur and NGOs like Robinhood Army.</div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- <section >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                 <h3 class="join">Join Us!</h3>
                 <p class="join">In GirlScript, our aim is to provide you with the resources to learn anything and everything you wish to. Join us to collaborate in creating an ever-advancing learning environment which is driven by an enthusiasm for a better, and inevitably Technology driven future.</p>
                 </div>
    
            </div>
        </div>
    </div>
    </section> -->
<!-- ======= End Join Us Section ======= -->
<div class="ourTeam_container"></div>
<div class="prevTeam_container"></div>
<div class="meetUp_container"></div>
<div class="contactUs_container"></div>
{% endblock content %}