{% extends 'base.html' %}

{% block content %}
<div class="home_container">
    
</div>

<div class="aboutUs_container">
    <div class="About-us-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5">
            <div class="card border-0"  style="width: 100%;background-color:#faf2f2  ; border-radius:3%; ">
              <div class="card-body">
                  <h2 class="card-title" style="text-align:center"><b>About Us</b></h2>
                    <p class="card-text">lorem ipsum  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.  versions from the 1914 translation by H. Rackham.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-7 col-md-7 ">
            <img src="../static/images/receptionist_isometric.png" alt="" style="width:100%">
          </div>
        </div>

      </div>

    </div>
</div>

<div class="joinUs_container">

</div>

<div class="ourTeam_container">

</div>

<div class="prevTeam_container">

</div>

<div class="meetUp_container">

</div>

<div class="contactUs_container">

</div>

{% endblock content %}
