{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GirlScript Alwar</title>
        <link rel="stylesheet" href="{% static 'css/table.css' %}">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        <div class="container">    
            <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                    </div>     
    
                    <div style="padding-top:30px" class="panel-body" >
    
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="loginform" class="form-horizontal" role="form" method="POST">
                            {% csrf_token %}
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="user_name" type="text" class="form-control" name="user_name" placeholder="username or email">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="pass_word" type="password" class="form-control" name="pass_word" placeholder="password">
                                    </div>
                                    
    
                                
                            <div class="input-group">
                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->
    
                                    <div class="col-sm-12 controls">
                                      <input type="submit" class="btn btn-success" value="Login In">
                                    </div>
                                </div>
                            </form>     
                        </div>                     
                    </div>  
                </div>
             </div> 
        </div>
    </body>
</html>