{% extends 'home.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!--  -->
<table class = "task_table">
    <tr>
        <th>Group Name</th>
        <th>Contact</th>
        <th>Url</th>
    </tr>
    {% for data in model %}
        <tr>
            <td>
                {{ data.group_name }}
            </td>
            <td>
                {{ data.contact }}
            </td>
            <td>
                {{ data.telegram_url }}
            </td>
        </tr>
    {% endfor %}
</table>
<!--  -->
<h1>Update contacts</h1>
<form class="contact_forum" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Update contact</button>
</form>

{% endblock content%}